no_repo/
*.DS_Store
\#*
.\#*
tex/auto/
tex/*.pdf
src/TAGS
src/sso_project.mat
src/analyze_runs.png
*sso_project_intermediate.mat
src/rank_two_update_v2_fast.mexmaci64
src/rank_two_update_v2_fast.mexa64
res/Adaptive2SPSA_Hbar_seq.mat
res/EfficientAdaptive2SPSA_Bbar_seq.mat
res/EfficientFeedbackAdaptive2SPSA_Bbar_seq.mat
res/FeedbackAdaptive2SPSA_Hbar_seq.mat